<div class="row" style="margin-bottom: 20px; margin-top: 50px; margin-bottom: 50px;">
    <app-nav-bar></app-nav-bar>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Pacientes:</h5>
          <table class="table">
            <thead>
              <tr>
                <th scope="row">id del paciente:</th>
                <th scope="row">Nombre de usuario:</th>
                <th scope="row">Nombre:</th>
                <th scope="row">Apellidos:</th>
                <th scope="row">Médicos:</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of pacientes">
                    <td>{{ p.id }}</td>
                    <td>{{ p.user }}</td>
                    <td>{{ p.nombre }}</td>
                    <td>{{ p.apellidos }}</td>
                      <table>
                        <tr *ngFor="let m of p.medicos">
                        <td style="padding-left: 30px;">{{m}}</td>
                        </tr>
                      </table>
                    <td>
                      <label>Seleccione un médico a añadir:</label><br>
                      <select  class="selectpicker"  style="margin-left: 10px" name="medico" [(ngModel)] = "medicoSelected">
                        <option [ngValue]="m" *ngFor="let m of medicos">
                           {{m.nombre}} {{m.apellidos}}
                        </option>
                      </select><br><br>
                      <button (click)="anyadirMedico(p.id)" class="btn btn-secondary" style="margin-left: 10px">Añadir médico seleccionado</button>
                      <button (click)="deletePaciente(p.id)" class="btn btn-black" style="margin-left: 10px">Eliminar</button>
                    </td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
