<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
    
<div class="sidenav">
    <div class="login-main-text">
        <button (click)="goToHome()" class="btn btn-secondary">Volver</button>
    </div>
 </div>

<div class="main" style="margin-top: 10%;">
    <p>Selecciona si desea registrarse como paciente o como médico:</p>
    <button type="submit" style="margin-left: 10px;" class="btn btn-secondary" (click)="goToPaciente()">Paciente</button>
    <button type="submit" style="margin-left: 10px;" class="btn btn-secondary" (click)="goToMedico()">Medico</button>
</div>

